@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html,
body,
#root,
.app {
  /* height: 100%; */
  /* width: 100%; */
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7a7f9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21295c;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #21295c;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: #000000 1px 1px 5px;
}

/* :root {
  --swiper-theme-color: #21295c !important;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;