@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html,
body,
#root,
.app {
  /* height: 100%; */
  /* width: 100%; */
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf') format('truetype');
  font-display: swap;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4d547d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21295c;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #141937;
}

/* Track */
.scroll-white::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
.scroll-white::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

/* Handle on Hover */
.scroll-white::-webkit-scrollbar-track:hover {
  background: #c2c2c2;
}

.favorite:hover .icon {
  fill: #ec4899;
  /* fill: #fd1853; */
  transform: scale(1.2);
  animation: .2s linear;
}


/* .favorite:hover {
  color: #000;
} */

@media (max-width: 768px) {
  .scroll-white::-webkit-scrollbar {
    width: 3px;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: #000000 1px 1px 5px;
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  50% {
    opacity: .5;

  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/* :root {
  --swiper-theme-color: #21295c !important;
} */
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.track {
  position: absolute;
  /* white-space: nowrap; */
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width:800px) {
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
}

/* estilos para el nuevo nav */
.nav {
  height: 10vh;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  z-index: 100;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

/* .nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
} */

.nav>#nav-check {
  display: none;
}

@media (max-width:1060px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    /* border-top: 2px solid #eee; */
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    /* background-color: #333; */
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 10vh);
    padding: 16px;
    overflow-y: auto;
    z-index: 10;
  }
}

/* acaba */


@tailwind base;
@tailwind components;
@tailwind utilities;